<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p (%t) [%c{1}] %m%n" />
        </Console>
        <File name="LOGFILE" fileName="build/run/scenarioRun.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d %p (%t) [%c{1}] %m%n" />
        </File>

    </Appenders>

    <Loggers>

        <Logger name="com.anaplan.engineering.azuki" level="debug" />

        <Root level="warn">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOGFILE"/>
        </Root>

    </Loggers>

</Configuration>
